<!DOCTYPE html>
<html>
<head>
  <title>Brooker - Manage Server</title> 
  <meta property="og:title" content="Brooker - Manage Server" /> 
  <meta property="og:description" content="Manage your server" />
  <meta property="og:image" itemprop="image" content="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png"/>  
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/script.js" type="text/javascript"></script> 
	<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
 <body>
  <nav>
   <ul class="topnav">
    <% if(user) {
      let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
      if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <a href="/" class="logo"><b><img src="<%=avatar%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
  <li><a class="active">Manage</a></li>
  <li><a href="/status">Status</a></li>
  <% if(user) { %>
  <li class="login"><a href="/logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="/login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>   
 <%if(!user) {%>
  <div id="myModal" class="modal">
   <div class="modal-content">
     <p style="margin-bottom: 30px;">Uh Oh! You must login to acces this page</p>
     <a href="/login" class="partner-link abc">Login</a>
     <a href="/" class="partner-link abc">Cancel</a>
    </div>
   </div>
<%} else {%>
    <div class="fitur"><b>Server List</b>
      <hr style="width: 80%; margin-bottom: 15px;">
    </div>
     <div class="partner-top"> 
   <% if(user.guilds.map(x => x.id).some(x => bot.guilds.cache.get(x) && bot.guilds.cache.get(x).me.hasPermission('MANAGE_GUILD') &&
         bot.guilds.cache.get(x).members.cache.get(user.id).hasPermission('MANAGE_GUILD'))) { %>
      <% user.guilds.forEach(guild => {     
        let img = "https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ""
        if(!guild.icon) img = "https://cdn.discordapp.com/embed/avatars/0.png"; 
      if (bot.guilds.cache.get(guild.id) && bot.guilds.cache.get(guild.id).me.hasPermission('MANAGE_GUILD') &&
         bot.guilds.cache.get(guild.id).members.cache.get(user.id).hasPermission('MANAGE_GUILD')) { %>
        <div class="partner">
         <img src="<%=img%>">
         <h4><%= guild.name.length > 25 ? guild.name.slice(0, 22) + '...' : guild.name %></h4>
          <a href="/manage/<%=guild.id%>" class="partner-link">Manage</a>
        </div>
      <%} else if (!bot.guilds.cache.get(guild.id) && new permissions(guild.permissions).has("MANAGE_GUILD")) {%>    
        <div class="partner">
         <img src="<%=img%>">
         <h4><%= guild.name.length > 25 ? guild.name.slice(0, 22) + '...' : guild.name %></h4>
          <a href="/invite" class="partner-link">Invite Bot!</a>
        </div>
       <%}})%>
      <%} else {%>
        <h2 style="text-align: center; color: white; text-shadow: 4px 2px 10px black;">There is no server that can be shown, you have not invited brooker on your server</h2>
      <%}%>
     </div>   
<%}%>
  </body>
</html>