<!DOCTYPE html>
<html>
<head>
	<title>Rewards Role - <%=guild.name%></title>
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <script src="public/script.js" type="text/javascript"></script> 
  <link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
<body>
 <% if(already === true) {%>
   <div class="alert">
  <span class="closebtn">&times;</span>  
  <strong>Error!</strong> Rewards Level or Roles is already available on the server 
   </div>
 <% } %> 
  <nav>
   <ul class="topnav">
    <% if(user) {
      let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
      if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <a href="/" class="logo"><b><img src="<%=avatar%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
  <li><a class="active" href="/manage/<%=guild.id%>">Manage</a></li>
  <li><a href="/partner">Partner</a></li>
  <% if(user) { %>
  <li class="login"><a href="/logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="/login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header style="height: 50px; margin-bottom: 5%;"><h1>Rewards</h1></header>
   <div class="config-top">
    <div class="config-main">
     <h3>Reward Setting</h3>
     <hr style="width: 55%;"><br>
      <form class="config-form" action="/manage/<%=guild.id%>/rewards" method="POST">
        <label for="level">Level</label><br>
         <input required style="width: 250px; height: 25px; margin-bottom: 10px;" type="number" id="level" name="level" placeholder="Level" min='1'><br>
        <label for="roles">Roles</label><br>
         <select style="width: 255px;" id="roles" name="roles">
          <% guild.roles.cache.filter((c) => c.editable && c.name !== '@everyone').map((a) => {%>
         <option value="<%=a.id%>"><%=a.name%></option>
          <% }) %>
        </select><br>
       <input type="submit" value="Submit">
       </form>
      </div>
       <div class="config-main">
        <h3>Reward Configuration</h3>
        <hr style="width: 55%;"><br>
        <div class="config-list">
             <% let rewards = db.get(`rolerewards_${guild.id}.reward`) 
                if(rewards && rewards.length)  { %>
              <table id="t01">
               <tr>
                <th style="background-color: #2c2f33;">No</th>                 
                <th style="background-color: #2c2f33;">Level</th>
                <th style="background-color: #2c2f33;">Roles</th> 
               </tr>
                <% rewards.sort((a , b) => a.level - b.level).map(x => { 
                let roles = guild.roles.cache.get(x.roles) ? guild.roles.cache.get(x.roles).name : "DeletedRoles" %>
                 <tr>
                  <td><%=rewards.indexOf(x)+1%></td>
                  <td><%=x.level%></td>
                  <td><%=roles%></td>
                 </tr>
                <%})%>
                </table>
                <%} else { %>
                 <h3>None reward roles added</h3>
                <%}%>
            </table>
        </div>
      </div>
    </div>
  
  <script>
  var close = document.getElementsByClassName("closebtn");
  var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 450);
  }
 }
  </script>
  
  </body>
</html>