<!DOCTYPE html>
<html>
<head>
	<title>Manage - <%=guild.name%></title>
  <meta property="og:title" content="Contact - Brooker" /> 
  <meta property="og:description" content="Contact brooker team support" />
  <meta property="og:image" itemprop="image" content="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <script src="/script.js" type="text/javascript"></script> 
  <link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
<body>
  <nav>
   <ul class="topnav">
    <% if(user) { %>
     <a href="/" class="logo"><b><img src="<%=client.users.cache.get(user.id).displayAvatarURL({dynamic: true})%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
  <li><a class="active" href="/manage/<%=guild.id%>">Manage</a></li>
  <li><a href="/partner">Partner</a></li>
  <% if(user) { %>
  <li class="login"><a href="logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header style="height: 50px; margin-bottom: 5%;"><h1>leave</h1></header>
   <div class="config-top">
    <div class="config-main">
     <h3>Reward Setting</h3>
     <hr style="width: 55%;"><br>
      <form class="config-form" action="/manage/<%=guild.id%>/rewards" method="POST">
        <label for="level">Level</label><br>
         <input required style="width: 250px;" type="text" id="level" name="level" placeholder="Command Name"><br>
        <label for="channel">Roles</label><br>
         <select style="width: 250px;" id="channel" name="channel">
          <% guild.roles.cache.filter((c) => c.editable && c.permissionsFor(guild.me).has('MANAGE_ROLES')).map((a) => {%>
         <option value="<%=a.id%>"><%=a.name%></option>
          <% }) %>
        </select><br>
       <input type="submit" value="Submit">
       </form>
      </div>
       <div class="config-main">
        <h3>Reward Configuration</h3>
        <hr style="width: 55%;"><br>
        <div class="config-list">
          <%  let toggle = db.get(`level_${guild.id}.toggle`)
              if (toggle === null || toggle === undefined) toggle="off"
              
              let lvlch = db.fetch(`level_${guild.id}.channel`)
              let ch3 = client.channels.cache.get(lvlch) ? client.channels.cache.get(lvlch).name : null
              if (ch3 === null) ch3 = "[ Not set ]"
              if (ch3 === undefined) ch3 = "[ Not set ]"%>
           <table id="t01">
            <tr>
             <th style="background-color: #2c2f33;">Toggle</th>
             <th style="background-color: #2c2f33;">Channel</th> 
            </tr>
              <tr>
               <td><%=toggle.toUpperCase()%></td>
               <td><%=ch3%></td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </body>
</html>