<!DOCTYPE html>
<html>
  <head>
    <title>Commands - Brooker</title>
    <meta property="og:title" content="Commands | Brooker" />
    <meta property="og:description" content="There are <%=client.commands.size%> commands, Brooker is discord bots multifunction" />
    <meta property="og:image" itemprop="image" content="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">
    <meta name="theme-color" content="#2f3136">
    <meta name="author" content="Dyt" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="/script.js" type="text/javascript"></script> 
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid #23272A;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  color: white;
}
#t01 tr:nth-child(even) {
  background-color: #2c2f33;;
}
#t01 tr:nth-child(odd) {
 background-color: #2c2f33;;
}
#t01 th {
  background-color: #23272A;
  color: white;
}
  
.detail{
      margin: 0 0px 20px 0px;
}

.tables{
    overflow-x: auto; border: 5px solid #23272A
}
</style>
<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
<body>
  <nav>
   <ul class="topnav">
    <% if(user) { %>
     <a href="home" class="logo"><b><img src="<%=client.users.cache.get(user.id).displayAvatarURL({dynamic: true})%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="home" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a class="active">Commands</a></li>
  <li><a href="about">About</a></li>
  <li><a href="contact">Contact</a></li>
  <% if(user) { %>
  <li class="login"><a href="logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header style="height:80px; padding-top: 0px;">
     <h1 style="padding-top: 20px;text-align: center; color: white; background-color:#1a1b1d;">Commands</h1>  
  </header>
<div style="overflow-x: auto">
 <button class="tablink" onclick="openPage('Leveling', this, '#2c2f33')" id="defaultOpen">Leveling</button>
 <button class="tablink" onclick="openPage('Custom Commands', this, '#2c2f33')">Custom Commands</button>
 <button class="tablink" onclick="openPage('', this, '#2c2f33')"></button>
 <button class="tablink" onclick="openPage('', this, '#2c2f33')"></button>
 <button class="tablink" onclick="openPage('', this, '#2c2f33')"></button>
</div>


  
  <div id="Moderation" class="tabcontent">
    <form action="/manage/<%=guild.id%>" method="POST">
    <label for="prefix">Prefix</label><br>
    <input style="width: 50%;" type="text" id="prefix" name="prefix" placeholder="Current prefix: <%=db.get(`prefix_${guild.id}`) || 'a.'%>"> 
    <br>
<!--     <label for="country">Channel</label><br>
    <select style="width: 50%;" id="Channel" name="Channel">
      <% guild.roles.cache.map((a) => {%>
      <option value="<%=a.name%>"><%=a.name%></option>
      <% }) %>
    </select>  -->
    <br>
    <input type="submit" value="Submit">
  </form>
 </div>
  
  
  
<!----------------------------------------------------- Main Script --------------------------------------------------->
<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}  

function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
  
  <div class="footer">
    <div class="footer-raw">
      <div class="footer-main">
       <h3>Find me on</h3>
        <a href="https://top.gg/bot/667743057227153408/vote">Discord Bot List</a> <br>
        <a href="https://discord.boats/bot/667743057227153408">Discord Boats</a> <br>
        <a href="https://bots.discordlabs.org/bot/667743057227153408">Discord Bot Labs</a>
      </div>
<!--  <div class="footer-main">
       <h3>Commands</h3>
       <p>See all commands from brooker</p>
       <button onclick="window.location.href='/commands';">View details »</button>
      </div> -->
      <div class="footer-main">
       <h3>Add Brooker</h3>
       <p>Invite brooker on your server</p>
       <button onclick="window.location.href='/invite';">Add to discord</button>
      </div>
     </div>
</body>
</html> 
