<!DOCTYPE html>
<html>
<head>
  <title>Partner - <%=guild.name%></title> 
  <meta property="og:title" content="Partner - <%=guild.name%>" /> 
  <meta property="og:description" content="Partner <%=guild.name%> with <%=guild.memberCount%> members join us" />
  <meta property="og:image" itemprop="image" content="<%=guild.iconURL({dynamic: true})%>"/>  
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/script.js" type="text/javascript"></script> 
	<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
  <style>
    .partners{
      display: flex; width: 50%; margin: 0 auto; height: auto;
    }
    .partners-main{
      width: auto; height: auto; text-align: left;
    }
    .partners-main img{
      margin: 15px auto 0px; width: 90%;
    }
    .partners-desc{
      text-align: left; padding: 20px; margin: 0 auto; width: 50%; height: auto; border-radius: 25px; background-color: #2c2f33;
    }
    .partners-desc a{
      color:
    }
    @media only screen and (max-width: 1200px) { 
    
      .partners{
        display: block;
      }
      .partners-main{
        margin: 0 auto;
        text-align: center;
      }
      .partners-main img{
        width: auto;
      }
      
    }
  </style>
</head>
 <body>
  <nav>
   <ul class="topnav">
    <% if(user) {
      let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
      if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <a href="/" class="logo"><b><img src="<%=avatar%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
<!--   <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li> -->
  <li><a href="/manage">Manage</a></li>
   <li><a class="active">Partner</a></li>
  <% if(user) { %>
  <li class="login"><a href="logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header style="height: auto">
    <div class="partners">
      <div class="partners-main">
        <img src="<%=guild.iconURL({dynamic: true})%>">
      </div>
      <div class="partners-main">
           <h2 style="margin-top: 20px; margin-bottom: 0;"><%=guild.name%></h2>
           <p style="margin-top: 5px; margin-bottom: 20px;"> Member: <%=guild.memberCount%></p>
           <a style="margin: 0" class="partner-link" href='/partner/<%=guild.id%>/invite'>Join Server</a>
      </div>
    </div>
    <hr style="margin: 20px auto; width: 50%;">
    <div class="partners-desc">
      <%- data.desc %>
    </div>
    <hr style="margin: 10px 0px 0px">
  </header>
   <div class="footer" style="margin-top: 0;">
    <div class="footer-raw">
      <div class="footer-main">
       <h3>Find me on</h3>
        <a href="https://top.gg/bot/667743057227153408/vote">Discord Bot List</a> <br>
        <a href="https://discord.boats/bot/667743057227153408">Discord Boats</a> <br>
        <a href="https://bots.discordlabs.org/bot/667743057227153408">Discord Bot Labs</a>
      </div>
      <div class="footer-main">
       <h3>More Info..</h3>
       <a href="/about">About Us</a><br>
       <a href="/contact">Contact us</a><br>
       <p>Invite Brooker!</p>
       <button onclick="window.location.href='/invite';">Add to discord</button>
      </div>
     </div>
   </div>
  </body>
</html>