<!DOCTYPE html>
<html>
<head>
  <title>Partner - <%=guild.name%></title> 
  <meta property="og:title" content="Partner - <%=guild.name%>" /> 
  <meta property="og:description" content="Partner <%=guild.name%> with <%=guild.memberCount%> members join us" />
  <meta property="og:image" itemprop="image" content="<%=guild.iconURL({dynamic: true})%>"/>  
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/script.js" type="text/javascript"></script> 
	<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
  <style>
    .partners{
      display: flex; width: 50%; margin: 0 auto; height: auto;
    }
    .partners-main{
      width: auto; height: auto; text-align: left;
    }
  </style>
</head>
 <body>
  <nav>
   <ul class="topnav">
    <% if(user) {
      let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
      if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <a href="/" class="logo"><b><img src="<%=avatar%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
<!--   <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li> -->
  <li><a href="/manage">Manage</a></li>
   <li><a class="active">Partner</a></li>
  <% if(user) { %>
  <li class="login"><a href="logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header>
    <div class="partners">
      <div class="partners-main">
        <img style="margin: 15px auto 0px; width: 90%;" src="<%=guild.iconURL({dynamic: true})%>">
      </div>
      <div class="partners-main">
           <h2 style="margin-top: 20px; margin-bottom: 0;"><%=guild.name%></h2>
           <p style="margin-top: 5px; margin-bottom: 20px;"> Member: <%=guild.memberCount%></p>
           <a style="margin: 0" class="partner-link" href='/partner/<%=guild.id%>/invite'>Join Server</a>
      </div>
    </div>
    <hr style="margin: 10px auto; width: 50%;">
    <div style="width: auto; height: auto">
      
    </div>
  </header>
  </body>
</html>