<!DOCTYPE html>
<html>
<head>
  <title>Partner - <%=guild.name%></title> 
  <meta property="og:title" content="Partner - <%=guild.name%>" /> 
  <meta property="og:description" content="<%=guild.name%> with <%=guild.memberCount%> members join us" />
  <meta property="og:image" itemprop="image" content="<%=guild.iconURL({dynamic: true})%>"/>  
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/script.js" type="text/javascript"></script> 
	<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
 <body style="background: unset; background-color: #2c2f33;">
  <nav>
   <ul class="topnav">
    <% if(user) {
      let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
      if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <a href="/" class="logo"><b><img src="<%=avatar%>" width="20" height="20"><%=user.username%>#<%=user.discriminator%></b></a>
    <% }else{ %> 
     <a href="/" class="logo"><b><img width="20" height="20" src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png">Brooker</b></a>
    <% } %>
  <li><a href="/commands">Commands</a></li>
<!--   <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li> -->
  <li><a href="/manage">Manage</a></li>
   <li><a href="/status">Status</a></li>
  <% if(user) { %>
  <li class="login"><a href="/logout">Logout</a></li>
  <% }else{ %> 
  <li class="login"><a href="/login">Login</a></li>     
  <% } %>
    <li class="icon">
     <a href="javascript:void(0);" onclick="myFunction()">☰</a>  
    </li>
   </ul> 
  </nav>
  <header style="height: auto; background-color: #2c2f33;">
    <div class="partners">
      <div class="partners-main">
        <img src="<%=guild.iconURL({dynamic: true})%>">
      </div>
      <div class="partners-main">
           <h2 style="margin-top: 20px; margin-bottom: 0;"><%=guild.name%></h2>
           <p style="margin-top: 5px; margin-bottom: 20px;"> Member: <%=guild.memberCount%></p>
           <a style="margin: 0" class="partner-link" href='/partner/<%=guild.id%>/invite'>Join Server</a>
      </div>
    </div>
  </header>
    <hr style="margin: 20px auto; width: 80%; border: none; height: 1px; background-color: gray;">
    <div class="partners-desc">
      <%- data.desc %>
    </div>
    <div class="fitur">Comments</div>
    <% if(user) { 
    let avatar = 'https://cdn.discordapp.com/avatars/'+user.id+'/'+user.avatar+'.png'
    if(!user.avatar) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
     <hr style="margin: 20px auto; width: 80%; border: none; height: 1px; background-color: gray;">
    <div class="comment-top">
      <div style="display: flex">
        <div  class="comment-image">
          <img style="max-width: 100%; border-radius: 25px;" src="<%=avatar%>">
        </div>
        <div class="comment-username">
           <h2 style="margin: -5px 5px;"><%=user.username%></h2>
        </div>
      </div>
      <div style="display: flex">
          <form style="width: 90%; color: white;" action="/comments/<%=guild.id%>" method="POST">
            <textarea style="height: 200px; background-color: #222428" placeholder="Give this server some comment" name="subject"></textarea>
            <input style="float: left;"type="submit" value="submit">
          </form>
      </div>
    </div>  
    <% } %>
    
    <% if(datax) { %>
    <hr style="margin: 20px auto; width: 80%; border: none; height: 1px; background-color: gray;">
    <% datax.forEach(x => { %>
    <div class="comment-top">
      <div style="display: flex">
        <div class="comment-image">
          <% let avatar = bot.users.cache.get(x.author).displayAvatarURL() 
             if(!bot.users.cache.get(x.author)) avatar = 'https://cdn.discordapp.com/embed/avatars/1.png'%>
          <img style="max-width: 100%; border-radius: 15px;" src="<%=avatar%>">
        </div>
        <div class="comment-username">
          <% let username = bot.users.cache.get(x.author).username 
             if(!bot.users.cache.get(x.author)) username = "Unknown Users" %>
           <h2 style="margin: -5px 5px;"><%=username%></h2>
           <h4 style="margin: 2px 5px; color: gray;"><%= moment(x.date).fromNow() %></h4>
        </div>
        <div class="comment-menu" onclick="commentDropdown()">
          <p style="margin: 10px 5px; color: white;">:</p>
          <div id="comment-content" class="comment-content">
          <button style="background: #23272a;padding: 5px 10px;border: none;color: white;">Delete</button>
        </div>
        </div>
      </div>
      <script>
function commentDropdown() {
  document.getElementById("comment-content").classList.toggle("show");
}
      </script>
      <div style="display: flex">
        <div class="comment-main">
           <p style="margin: 0; text-align: left;"><%=x.subject%></p>
        </div>
      </div>
    </div>
    <% }) %>
    <% } else { %>
     <hr style="margin: 20px auto; width: 80%; border: none; height: 1px; background-color: gray;">
     <h2 style="text-align: center; color: white;">None review</h2>
    <%}%>
  </body>
</html>